<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stats MK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50FEB8AC2B5AD7C3002474B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FEB8BE2B5AD7C4002474B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FEB8C82B5AD7C4002474B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
